samples/TextClientApp/.DS_Store
samples/TextClientApp/.DS_Store?
samples/TextClientApp/TextClientApp.xcodeproj/project.pbxproj
*/.DS_Store
**/.DS_Store
samples/TextClientApp/TextClientApp.xcodeproj/project.xcworkspace/xcuserdata